
/* Accordion menu */
.accordion {
    width: 100%;
    padding: 0 22px;
}

    .accordion-item {
        cursor: pointer;
    }

    .accordion-icon {
        position: relative;
        top: 57px;
        margin-top: -57px;
        background-color: var(--turquoise_dark);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        align-content: center;
        text-align: center;
        z-index: 20;
    }

    .accordion-header {
        display: grid;
        grid-template-columns: 6fr 1fr;
        align-items: center;
        padding: 5px 10px 5px 80px;
        background-color: var(--gray);
        transition: background 0.3s;
        border-radius: 45px;
        margin-bottom: 20px;
        height: 55px;
    }

        .accordion-header img {
            transition: transform 0.3s ease;
        }

    .accordion-content {
        padding: 0 0 50px 20px;
        display: none;
    }

    .accordion-content > ul > li {
        display: flex;
        column-gap: 7px;
    }

    .accordion-content.active {
        display: block;
    }

@media screen and (min-width: 600px) {
    .accordion {
        width: 560px;
        padding: 0;
    }

    .accordion-icon {
        top: 62px;
        margin-top: -62px;
        width: 70px;
        height: 70px;
    }
    
    .accordion-header {
        grid-template-columns: 8fr 1fr;
        padding: 10px 0 10px 100px;
        margin-bottom: 30px;
    }

    .accordion-content {
        padding: 0 20px 50px 100px;
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .accordion {
        width: 660px;
        padding: 0;
    }

    .accordion-icon {
        top: 70px;
        margin-top: -70px;
        width: 80px;
        height: 80px;
    }

    .accordion-header {
        grid-template-columns: 10fr 1fr;
        padding: 15px 0 15px 120px;
        height: unset;
    }
}

@media screen and (min-width: 1024px) {
    .accordion {
        width: 840px;
        padding: 0;
    }

        .accordion-header:hover {
        background-color: #bbb;
    }

    .accordion-content {
        padding: 0 0 50px 120px ;
    }
}
